* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: rgb(241, 244, 249);
    color: black;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.background-jumbotron {
    background-image: url(img/1.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(36, 140, 149, 0.5);
}

#tiles {
    list-style-type: none;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  

  #service {

    background-color: #0c746a;
    color: white;
  

  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }